<%= form_for @task, :html => {:class => "form-horizontal center"}  do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>	
  <% end %>

    <div class="form-group">   
  		<%= f.label :name, "Task:", class: "col-md-4 control-label" %>
  	  <div class="col-md-4">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group" data-behaviour='datepicker'>   
      <%= f.label :start_date, "Start Date:", class: "col-md-4 control-label" %>
      <div class="col-md-4">
        <%= f.text_field :start_date, :id => 'datepicker', :readonly => true, :autocomplete => "on", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">   
      <%= f.label :start_time, "Start Time:", class: "col-md-4 control-label" %>
      <div class="col-md-4">
        <%= f.time_select :start_time, {:ampm => true}, :required => true,class: "form-control" %>
      </div>
    </div>

    <div class="form-group" data-behaviour='datepicker'>   
      <%= f.label :end_date, "End Date:", class: "col-md-4 control-label" %>
      <div class="col-md-4">
        <%= f.text_field :end_date, :id => 'datepicker1', :readonly => true, :autocomplete => "on", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">   
      <%= f.label :end_time, "End Time:", class: "col-md-4 control-label" %>
      <div class="col-md-4">
        <%=f.time_select :end_time, {:ampm => true}, :required => true,class: "form-control" %>
      </div>
    </div>

	

    <div class="form-group">   
      <%= f.label :server_name, "Server Name:", class: "col-md-4 control-label" %>
      <div class="col-md-4">
        <%= f.text_field :server_name, class: "form-control" %>
      </div>
    </div> 
    
    <div class="form-group">   
      <%= f.label :executable_path, "Executable Path:", class: "col-md-4 control-label" %>
      <div class="col-md-4">
        <%= f.text_field :executable_path, class: "form-control" %>
      </div>
    </div> 

  	<div class="form-group">
     <div class= "col-md-4 control-label" %></div>
      <div class="col-md-4"> 
  		<%= f.submit 'Create', class: "save btn btn-success"  %>
      <%= link_to 'Back', tasks_path, class: "save btn btn-success" %>  
      </div>
  	</div>

<% end %>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script type="text/javascript">

 
  $(function() {
    $("#datepicker").datepicker({
      format: "yyyy/mm/dd",
        changeYear: true,
        minDate: '+0D',

    });
    $("#datepicker1").datepicker({
      format: "yyyy/mm/dd",
        changeYear: true,
        minDate: '+0D'
    });
  });
  </script>

  <style type="text/css">
  .ui-datepicker {
  	background-color: white
  }
  </style>