<p id="notice"><%= notice %></p>

<h1>Schedul Task</h1>
</br>
<!-- <table id="task_list" class="table table-bordered"> -->

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>server_name</th>
      <th>executable_path</th>
      <!-- <th>Section</th> -->
      <th>Edit</th>
      <th>SHow</th>
      <th>delete</th>
    </tr>
  </thead>
  <% unless @task.blank? %>
    <tbody>
       <% @task.each do |task|%>
        <tr>
          <td><%= task.name %></td>
          <td><%= task.server_name %></td>
          <td><%= task.executable_path %></td>
          <!-- <td><%#= assignment.section %></td> -->
          <td><%= link_to 'Show', task_path(task), class: "save btn btn-success" %></td>
          <td><%= link_to 'Edit', edit_task_path(task), class: "save btn btn-success" %></td>
          <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "save btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    no task found
  <% end %>
</table>

<br>

<%= link_to 'New task', new_task_path, class: "save btn btn-success" %>

