<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>start_date:</strong>
  <%= @task.start_date.strftime("%Y-%m-%d") rescue nil%>
</p>

<p>
  <strong>start_time:</strong>
  <%= @task.start_time.strftime("%H:%M") rescue nil%>
</p>

<p>
  <strong>end_date:</strong>
  <%= @task.end_date.strftime("%Y-%m-%d") rescue nil%>
</p>

<p>
  <strong>end_time:</strong>
  <%= @task.end_time.strftime("%H:%M") rescue nil%>
</p>

<p>
  <strong>server_name:</strong>
  <%= @task.server_name %>
</p>
<p>
  <strong>executable_path:</strong>
  <%= @task.executable_path %>
</p>
<!-- <p>
  <strong>Section:</strong>
  <%#= @task.section.name if @task.section %>
</p> -->

<%= link_to 'Edit', edit_task_path(@task), class: "save btn btn-success" %> |
<%= link_to 'Back', tasks_path, class: "save btn btn-success" %>
